manifest {
    name = 'crispresso-nf'
    author = 'FrederickMappin'
    description = 'Minimal Nextflow pipeline for CRISPResso paired-end amplicon analysis'
}

process {
    executor = 'local'
    withName: FASTP {
        cpus = 2
        memory = '4 GB'
        time = '4h'
    }
    withName: CRISPRESSO {
        cpus = 2
        memory = '4 GB'
        time = '12h'
    }
}

params {
    outdir = 'results'
}

// Use this profile to run with containerized CRISPResso.
profiles {
    docker {
        // Build locally:  docker build -t crispresso-nf .
        // Source: https://github.com/lucapinello/CRISPResso (v1, BSD License)
        process.container = 'crispresso-nf:latest'
        docker.enabled = true
        docker.runOptions = '--rm -u $(id -u):$(id -g) --entrypoint ""'
    }
}
